# macOS system files
.DS_Store

# jobs directory
jobs/2D/
jobs/3D/
wilson/
plaq/

# plots
*.pdf

# test scripts
test.sh
test2D.sh
test3D.sh

# executable files
schwinger2peD
testDirac
testHMC
testIO
testPlaq
testWilsonFlow

# object files
*.o
